<div class="container">
    <select class="form-select">
        <option selected disabled>Categorias</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
        <!-- <option [value]="item" *ngFor="let item of lista">{{item}}</option> -->
    </select>


    <div class="div-box-vendehumos">
        <span class="info-vendehumos">
            <img src="" alt="logo">
            <div class="box-info">
                <h6>Nombre</h6>
                <p>info</p>
                <div class="info-extra"></div>
            </div>
        </span>
        <button class="btn btn-success">
            <div>Votar</div>
            <div>numVotos</div>

        </button>
    </div>
    <div class="div-box-vendehumos">
        <span class="info-vendehumos">
            <img src="" alt="logo">
            <div class="box-info">
                <h6>Nombre</h6>
                <p>info</p>
                <div class="info-extra"></div>
            </div>
        </span>
        <button class="btn btn-success">
            <div>Votar</div>
            <div>numVotos</div>

        </button>
    </div>


</div>